
body {
  background-color: #F5F5F5;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}


.button {
  margin-bottom: 35px;
}

.last {
  text-align: center;
}

.box{
	width:600px;
	height:300px;
}
